# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app redis-master
  namespace: databases
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      redis-master:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: public.ecr.aws/docker/library/redis
              tag: 8.4.0
            env:
              REDIS_REPLICATION_MODE: master
            resources:
              requests:
                cpu: 10m
                memory: 10Mi
              limits:
                memory: 100Mi
          metrics:
            image:
              repository: docker.io/oliver006/redis_exporter
              tag: v1.80.2
            env:
              REDIS_ADDR: localhost:6379
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 64Mi
    service:
      redis-master:
        controller: *app
        ports:
          redis:
            port: 6379
          metrics:
            port: 9121
    serviceMonitor:
      redis-master:
        serviceName: redis-master
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
