---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  # renovate: datasource=github-releases depName=intel/intel-gpu-plugin
  - https://github.com/intel/intel-device-plugins-for-kubernetes/deployments/gpu_plugin/overlays/nfd_labeled_nodes?ref=v0.35.0
images:
  - name: intel/intel-gpu-plugin
    newTag: 0.35.0

patches:
  - patch: |-
      - op: add
        path: "/spec/template/spec/containers/0/args"
        value:
          - "-enable-monitoring"
          - "-v=2"
          - "-shared-dev-num=2"
    target:
      kind: DaemonSet
      name: intel-gpu-plugin
