---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app jellyfin
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  install:
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 5
  values:
    defaultPodOptions:
      annotations:
        setGateway: "false"
    controllers:
      jellyfin:
        annotations:
          setGateway: "false"
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 44  # video
              - 109  # render
        containers:
          main:
            image:
              repository: jellyfin/jellyfin
              tag: 10.11.1
            env:
              DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
              JELLYFIN_FFmpeg__probesize: 50000000
              JELLYFIN_FFmpeg__analyzeduration: 50000000
              JELLYFIN_CACHE_DIR: /cache
            resources:
              requests:
                cpu: 1
                memory: 1Gi
                gpu.intel.com/i915: 1
              limits:
                memory: 3Gi
                gpu.intel.com/i915: 1
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8096
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3

              readiness: *probe
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 30
          exporter:
            image:
              repository: rebelcore/jellyfin-exporter
              tag: v1.3.8@sha256:38145ab1a41486e611696e47f42658993ee6497c5a3bc2196d2d8a94e32adfad
            args:
              - --jellyfin.address=http://jellyfin:8096
              - --jellyfin.token=${JELLYFIN_EXPORTER_API_KEY}
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 225Mi
            probes:
              liveness: &exporterProbe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &exporterPort 9594
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3

              readiness: *exporterProbe
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *exporterPort
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 30
    service:
      main:
        controller: *app
        ports:
          http:
            port: *port
          exporter:
            port: *exporterPort
    ingress:
      main:
        enabled: true
        className: nginx
        annotations:
          nginx.ingress.kubernetes.io/whitelist-source-range: ${LOCAL_SUBNETS}
          hajimari.io/enable: "true"
          hajimari.io/icon: simple-icons:jellyfin
        hosts:
          - host: &host media.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
      public:
        enabled: true
        className: nginx
        annotations:
          external-dns.alpha.kubernetes.io/target: "ingress.${PUBLIC_DOMAIN}"
          hajimari.io/enable: "false"
          hajimari.io/icon: simple-icons:jellyfin
          nginx.ingress.kubernetes.io/server-snippet: |
            location /metrics {
              return 404;
            }
        hosts:
          - host: &public-domain media.${PUBLIC_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *public-domain
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
      exporter:
        serviceName: *app
        endpoints:
          - port: exporter
            scheme: http
            path: /metrics
    persistence:
      config:
        accessMode: ReadWriteOnce
        enabled: true
        type: persistentVolumeClaim
        storageClass: longhorn
        size: 40Gi
        retain: true
        globalMounts:
          - path: /config
      movies:
        type: nfs
        server: "${NFS_SERVER}"
        path: "${NFS_MEDIA}/movies"
        globalMounts:
          - path: "/media/movies"
      tvshows:
        type: nfs
        server: "${NFS_SERVER}"
        path: "${NFS_MEDIA}/tvshows"
        globalMounts:
          - path: "/media/tvshows"
      intros:
        type: nfs
        server: "${NFS_SERVER}"
        path: "${NFS_MEDIA}/intros"
        globalMounts:
          - path: "/media/intros"
      transcode:
        enabled: true
        type: emptyDir
      cache:
        enabled: true
        type: emptyDir
