---
# yaml-language-server: $schema=https://github.com/fluxcd-community/flux2-schemas/raw/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: promtail
spec:
  interval: 5m
  chart:
    spec:
      chart: promtail
      version: 6.17.1
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
      interval: 30m
  dependsOn:
    - name: loki
  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: Service
              name: promtail-syslog
            patch: |
              - op: add
                path: /metadata/annotations/lbipam.cilium.io~1ips
                value: "${PROMTAIL_SYSLOG}"
  values:
    daemonset:
      enabled: true
    image:
      repository: grafana/promtail
      tag: 3.6.2@sha256:23dee723aca20844a297cf96a212256f4be1e2234a3216b8e8792066ec2081f2
    serviceMonitor:
      enabled: true
    resources:
      limits:
        cpu: 200m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi
    tolerations:
      - effect: NoSchedule
        operator: Exists
      - effect: NoExecute
        operator: Exists
    extraPorts:
      syslog:
        name: syslog
        containerPort: 1514
        externalTrafficPolicy: Local
        service:
          type: LoadBalancer
    config:
      snippets:
        extraScrapeConfigs: |
          - job_name: syslog
            syslog:
              listen_address: 0.0.0.0:1514
              label_structured_data: true
              idle_timeout: 60s
              syslog_format: rfc3164
              labels:
                job: syslog
            relabel_configs:
              - source_labels: [__syslog_message_hostname]
                target_label: host
              - source_labels: [__syslog_message_hostname]
                target_label: hostname
              - source_labels: [__syslog_message_severity]
                target_label: level
              - source_labels: [__syslog_message_app_name]
                target_label: application
              - source_labels: [__syslog_message_facility]
                target_label: facility
              - source_labels: [__syslog_connection_hostname]
                target_label: connection_hostname
          - job_name: journal
            journal:
              json: false
              max_age: 12h
              path: /var/log/journal
              labels:
                job: systemd-journal
            relabel_configs:
              - source_labels: ['__journal__systemd_unit']
                target_label: 'unit'
              - source_labels:
                - __journal__hostname
                target_label: node_name
              - source_labels:
                - __journal_syslog_identifier
                target_label: syslog_identifier
    extraVolumes:
      - name: var-journal
        hostPath:
          path: /var/log/journal
      - name: run-journal
        hostPath:
          path: /run/log/journal
    extraVolumeMounts:
      - name: var-journal
        mountPath: /var/log/journal
        readOnly: true
      - name: run-journal
        mountPath: /run/log/journal
        readOnly: true
