---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: storage
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://charts.longhorn.io
      chart: longhorn
      version: 1.11.0
      sourceRef:
        kind: HelmRepository
        name: longhorn-charts
        namespace: flux-system
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    persistence:
      defaultClass: false
      defaultClassReplicaCount: "2"
    defaultSettings:
      backupTarget: "nfs://nfs.lan://volume1/backups/k8s/longhorn"
      defaultReplicaCount: "2"
      v2DataEngineGuaranteedInstanceManagerCPU: "750"
      guaranteedInstanceManagerCPU: "5"
    ingress:
      enabled: true
      annotations:
        nginx.ingress.kubernetes.io/whitelist-source-range: ${LOCAL_SUBNETS}
        hajimari.io/enable: "true"
        hajimari.io/appName: "Longhorn"
        hajimari.io/icon: "nas"
        hajimari.io/group: "storage"
      host: "longhorn.${SECRET_DOMAIN}"
      hosts:
        - "longhorn.${SECRET_DOMAIN}"
      tls:
        - hosts:
            - "longhorn.${SECRET_DOMAIN}"
